fastapi
uvicorn[standard]
psycopg2-binary
celery==5.3.1
redis==4.6.0
pandas
polars
python-dotenv
pydantic
sqlalchemy==2.0.23
alembic==1.13.1
pyfaidx
onnxruntime
pytest
pytest-asyncio
httpx
anyio
fakeredis
